body{
    
    background-color: azure;
}
/* section */
#li{
    
    margin-right: 50%;
    /* padding-right: 50%; */
}
#bann{
    margin-top: 20px;
}
/* section */
#baba{
    margin-left: 50%;
}

#add{
     margin-left: 50%;
    /* padding-left: 50%; */ */


}